---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection('devlog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title="Devlog">
{
    posts.map((post) => (
        <a href={`/devlog/${post.slug}/`}>
        <div>
            <h4 class="title">{post.data.title}</h4>
            <p class="date">{post.data.pubDate}</p>
            <p>{post.data.description}</p>
            {
                post.data.tags.map((tag: string) => (
                    <p>
                        {tag}
                    </p>
                ))
            }
        </div>
        </a>
    ))
}
</Layout>
